<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78525277544-mljvclqfo1mme847p92jhgbfq3ed2ct3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78525277544-mljvclqfo1mme847p92jhgbfq3ed2ct3</string>
	<key>API_KEY</key>
	<string>AIzaSyCmAEgINnuPDWmcdwJHMGl-fDixty6taeo</string>
	<key>GCM_SENDER_ID</key>
	<string>78525277544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Notes</string>
	<key>PROJECT_ID</key>
	<string>notes-c5f57</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-c5f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78525277544:ios:be2741e53fba1a2ea3a2dd</string>
</dict>
</plist>